
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


* {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

/*----------------------------------------------------*/
/* HEADER
------------------------------------------------------ */
.navbar-custom{
    color:white !important;
}
 
nav .link-header{
    font-size: 9px !important;
}
.vl {
    border-left: 2.5px solid white;
    height: 20px;
}

#nav-forms{
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: space-around;
}

#nav-forms li{
  list-style: none;
  font-weight: 700;
}

#nav-forms li a{
  color: white;
}


/*** RESPONSIVE HEADER ***/



/*** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ***/
/*----------------------------------------------------*/
/* FOOTER
------------------------------------------------------ */



/*** RESPONSIVE FOOTER ***/
/*** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ***/

