* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*************************/

.circle-profile {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .user-profile{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .open-discussion{
      display: ;
      flex-direction: ;
      font-size: 10px;
  }

  .open-discussion p{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.head-discussion{
    display: flex;
    flex-direction: row;
}
 

  .btn-envoyer{

    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .form-send-message button{
text-decoration: none;
background-color: blue;
color:white;

  }

.form-send-message textarea{
    width: 50px;
    height: 300px;
}

  .box-message{
      display: flex;
      flex-direction: row;

background-color: lightgray;
 
margin: 1%;
}


/************************/