*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1600px;
    margin: auto!important;
}
/* ***************************************************************************
************************* FOND ***********************************************
**************************************************************************** */

/*----------------------------------------------------*/
/* CIRCLES
------------------------------------------------------ */

.ovale_1{
    height : 150px;
    width : 330px;
    background-color:#88c1d0;
    position:absolute;
    border-radius : 0 0 50% 50%;
    z-index: -1;
    margin-top:-6.5%;
  }
  
  .ovale_2{
    height : 300px;
    width : 300px;
    background-color:#88c1d0;
    position:fixed;
    border-radius : 0 100% 0 0;
    z-index: -1;
    left:0;
    bottom: 0;
  }
  
  .ovale_3{
    height : 400px;
    width : 200px;
    background-color:#88c1d0;
    position: fixed;
    /*border-radius : 100% 0 0 100%;*/
    z-index: -1;
    top: 50%;
    right: 0;
    border-bottom-left-radius: 400px;
    border-top-left-radius: 400px;
    overflow: hidden;
  }
  
  /*** RESPONSIVE CIRCLES ***/
  /*** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ***/
  @media(max-width:990px){
  
  .ovale_1{
    height : 100px;
    width : 260px;
    margin-top:-8.5%;
  }
  
  .ovale_2{
    height : 250px;
    width : 250px;
  }
  
  .ovale_3{
    height : 200px;
    width : 100px;
  }
  
  }
  
  @media(max-width:690px){
  
    .ovale_1{
      height : 80px;
      width : 210px;
      margin-top:-7.5%;
    }
    
    .ovale_2{
      height : 200px;
      width : 200px;
      top: 60%;
    }
    
    .ovale_3{
      height : 300px;
      width : 100px;
      top: 58%;
    }
    
  }
  
  @media(max-width:490px){
  
    .ovale_1{
      height : 70px;
      width : 190px;
      margin-top:-7.5%;
    }
    
    .ovale_2{
      height : 170px;
      width : 170px;
      top: 50%;
    }
    
    .ovale_3{
      height : 270px;
      width : 70px;
      top: 47.5%;
     
    }
    
  }
  
  
  
  
  /*----------------------------------------------------*/
  /* WAVE
  ------------------------------------------------------ */
  .left-wave {
    width: 600px;
    height: 300px;
  }
  
  .right-wave {
    width: 600px;
    height: 300px;
    margin-left:50%;
    position: absolute;
  }
  
  path {
    stroke: #275fa0;
    stroke-width: 20px;
    stroke-linecap: round;
    fill: none;
  }
  
  .wavy-line {
    display : flex;
    position : absolute;
    margin-top : 25%;
    width:100%;
    height: 25%;
    overflow: hidden;
  }
  .wavy-line:before {
    content: attr(data-text);
    position: relative;
    top: -50px;
    color: rgba(0,0,0,0);
    font-size: 8em;
    text-decoration-style: wavy;
    text-decoration-color: #25173A;
    text-decoration-line: underline;
    animation: animate .7s linear infinite;
    -webkit-animation: animate .7s linear infinite;
  }
  
  @keyframes animate {
    0% { left: -0px; }
    100% { left: -70px;}
  }
  @-webkit-keyframes animate {
    0% { left: -0px; }
    100% { left: -70px;}
  }
  
  .wavy-line-green:before { text-decoration-color: #275fa0; }
  .wavy-line-blue:before { text-decoration-color: #1FB5D1; }
  .wavy-line-yellow:before { text-decoration-color: #F9B930; }



/* ****************************************************************************
************************ ADMIN ***********************************************
***************************************************************************** */

.admin_main{
    display: flex;
    min-height: 100vh;
}
.header_admin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}
.icones_menu{
    display: flex;
    justify-content: flex-end;
    width: 70%; 
}
.icones_menu p{
    width: 10%;
    margin: 0 4%;
    font-size: 25px; 
}

.icon-bell-alt{
    color: #FECE66;
}

.bell{
    display: inline-block;
    width: 20%;
    height: 3vh;
    line-height: 3vh;
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
}
#signalement{
    text-decoration: none;
}
.icon-home{
    color: #275FA2;
}

.admin_main_button {
    border: none!important;
    background-color: transparent!important;
}

.nav_admin{
   width: 25%;
   background-color: #275fa0;
}

.admin_main_img {
    width: 100%;
    margin: 2%;
}
.admin_main nav {
    text-align: center;
}
.admin_main nav button {
    display: block;
    margin: 3% auto;
    color: white;
}
.section_infos {
    width: 75%;
    background-image: url("../images/fond_admin.png");
    background-size: cover;
    background-position: center;
}
.infos_admin {
    display: flex;
    justify-content: space-between;
}
#page{
    min-height: 100vh;
}
.div_entete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.div_entete_tab h3{
    width: 70%;
}
.logo_admin{
    width: 20%; 
}

.titre_admin {
    width: 70%;
    margin: 0 auto 4%;
}
#users h3,#alert h3,#posts h3{
    height: 8vh;
    line-height: 8vh;
    border-radius: 20px 20px 0 0;
}
#users h3{
    background-color: #2AB6A4;
}
#alert h3 {
    background-color: #F1574B;
}
#posts h3 {
    background-color: #FECE66;
}
.titre_groupe{
    font-size: 17px;
    text-align: center;
}
.infos_admin div div {
    margin: auto;
}

#modale{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    text-align: center; 
    background-color: rgba(0,0,0,.7);
    z-index: 100;
    display: none; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form_admin, .comment_affichage , #form_update_cursus {
    width: 35%;
    margin: auto;
    padding: 2%;
    border-radius: 20px;
    background-color: white;
}

#selection{
    margin-right: 3%;
}

.table_admin {
    width: 90%!important;
    margin: 1% auto;
}

.table_admin thead {
    background-color:  #275fa0;
}

.table_admin thead tr td {
   color: white;
}

.table_admin tbody{
    background-color: #dee2e6;
}

#action_alert label{
    margin: 5%;
}

.icon-cancel{
    display: block;
    width: 20px;
    height: 20px;
    padding: 1%;
    margin-left: 90%;
    text-align: right;
    color: red;
    cursor: pointer;
    transition: transform .2s; /* Animation */
}

.icon-cancel:hover {
    transform: scale(1.3); 
}
#search_admin{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;  
}

#search_admin form, #search_admin button{
    width: 30%;
    margin: auto;
}

.div_infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#pagination {
    width: 50%;
    margin: auto;
}

.div_infos aside {
    display: flex;
}
.icon-user {
    color: #88c1d0;
}

.icon-tools {
    color:  #ffca4b;
}

.icon-trash{
    color: red;
}

.page {
    margin: 1%;
    background-color: #88c1d0!important;
    color: white!important;
}

.tableaux {
    display: flex;
    justify-content: center;
}

.tableaux div{
    width: 40%!important;
    margin: 1%;
}

.table_groupe thead{
    background-color: #275fa0;
}
.table_groupe tbody, .table_top_groupe tbody{
    background-color: #DEE2E6;
}
.table_top_groupe thead{
    background: #F1574B;
}
#tbody tr td {
    width: 25%;
}
.logo_langage{
    width: 30%;
}

#formlangage{
    display: none;
    width: 80%;
    margin: 4% auto;
    padding: 2%;
    background-color:black;
    color: white;
    border-radius: 10px;
}

.table_cursus{
    width: 50%!important;
    text-align: center;
}

.section_form_cursus{
    width: 50%;
    margin: auto;
    padding: 2%;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 20px;
}

/* style boutton */
.update_cursus, .upgrade, .supp , .supprimer{
    border: none;
}
.upgrade, .supp , .supprimer  {
    background: transparent;
}
.update_cursus{
    background-color:#ffca4b!important;
}
#add_langage{
    display: block;
}

#message_admin {
    display: block;
    width: 50%;
    margin: 4% auto;
}

/* ****************************************************************************
************************ RESPONSIVE *****************************************
***************************************************************************** */

@media screen and (max-width: 600px){
    h2,h3{
        font-size: 25px!important;
        text-align: center;
    }
    .admin_main {
        flex-direction: column;
    }
    .icones_menu {
        justify-content: space-evenly;
        width: 30%;
    }
    .nav_admin {
        width: 100%;
    }
    .section_infos {
        width: 100%;
        margin: auto;
    }
    .admin_main_img {
        display: block;
        width: 35%;
        margin: auto; 
    }
    .admin_main nav button {
        display: inline;
    }
    .logo_admin {
        width: 40%;
    }
    #search_admin {
        width: 100%;
        flex-direction: column;
    }
    #search_admin form, #search_admin button {
        width: 90%;
    }
    .div_infos {
        width: 100%;
        flex-direction: column;
    }
    #pagination {
        width: 90%;
    }
    .icon-user {
        color: #275fa0;
    }
    .div_entete {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .tableaux {
        flex-direction: column;
    }
    .tableaux div {
        width: 95%!important;
        margin: auto;
    }
    #modale {
        min-height: 100vh;
    }
    .form_admin, .comment_affichage, #form_update_cursus {
        width: 90%;
    }
    #formlangage {
        width: 95%;
    }
    .section_form_cursus {
        width: 95%;
    }
}

@media screen and (min-width: 601px) and (max-width: 769px){
    .nav_admin {
        width: 20%;
    }
    .section_infos {
        width: 85%;
    }
}

/* ********************************** */

/* ***********************************************************
************************ FEED ********************************
*********************************************************** */

/* ****  TITRES **** */
.titre_h3_feed{
    padding-bottom: 2%;
    font-size: 20px;
    text-decoration:#88c1d0 solid underline;;
}
/* **************** */
.main_feed{
    display: flex;
}

.section_perso{
    width: 20%;
    margin: 2%;
    border: 3px solid #275fa0;
    background: #ffffffe0;
}
.div_infos_perso{
    margin-top: 15%;
    text-align: center;
}

.photo_profil_feed{
    display: block;
    width: 30%;
    margin: auto;
    border-radius: 50%;
}


.feed{
    width: 80%;
    border-left: 3px solid #275fa0;
}

.p_relations{
    text-align: center;
    font-size: 25px;
    color: #88c1d0;
}
.section_post{
    width: 70%;
    margin: 2%;
    padding: 3%;
    border: 3px solid #275fa0;
}
.div_post{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.section_post img {
    width: 15%;
    border-radius: 50%;
}
.section_post form {
    width: 90%;
    text-align: center;
}

.div_amis_communs{
    display: flex;
    align-items: flex-start;
}

.div_amis_communs img{
    width: 25%;
}

#btn_form_form{
    width: 90%;
    height: 8vh;
    line-height: 8vh;
    padding-left: 6%;
    border: none;
    border-radius: 50px;
    background-color: #EBEBEB;
    text-align: left;
    color: #275FA2;
}

.icon-chat{
 font-size: 20px;
}

#btn_form_form:hover{
    background-color: #cccccc ;
}

#modale2{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color:  rgba(0,0,0,.7);   
} 

.div_form{
    width: 50%;
    margin: auto;
    border-radius: 5px;
    background-color: white;
}

.header_modal{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
    margin-bottom: 3%;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.header_modal h2 {
    color: rgba(0,0,0,.9);
}

.div_form textarea{
    display: block;
    width: 90%;
    margin: auto;
    border: none;
    color: grey;
    cursor: text;
    outline:  none;
}

.icon-cancel-1{
    font-size: 10px;
}

#form_close{
    border: none;
    background: transparent;
    color:grey ;
}

#form_post{
    width: 100%;
}

.medias{
    display: flex;
    margin-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #666666;
}

.medias span {
    margin: 1%;  
}

.icon-picture,.icon-youtube-play,.icon-link{
    font-size: 25px;
    color: #275FA2;
}

#btn_valider{
    width: 20%;
    background-color: #275fa0;
    color: white;
    border-radius: 50px;
}

.medias div {
    width: 70%;
}

#section_affichage_posts{
    width: 80%;
    margin: auto;
}

.section_posts{
    margin: 2% auto;
    padding: 1%;
    background-color: #EBEBEB;
    border: 3px solid #275fa0;
}

.infos_user{
    display:flex;
    width: 100%;
}
.infos_user img {
    width: 10%;
}

.media{
    width: 100%;
}

.media img , .media video{
    width: 100%;
    height: auto;
}