
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


* {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

/*----------------------------------------------------*/
/* INSCRIPTION
------------------------------------------------------ */

.form{
  display:flex !important;
  flex-direction:column !important;
  align-items:center !important;
  border: 10px solid #275fa0 !important;
  width:40% !important;
  box-shadow: 20px 20px rgba(221, 222, 225, 0.5) !important;
  padding : 20px !important;
  margin-bottom : 1% !important;
  margin-top:1% !important;
}

#form-title{
  display:flex;
  background-color:rgba(221, 222, 225, 0.3);
  align-items:center;
  justify-content:center;
  margin-top: 2.5%;
  font-size:30px !important;
  padding: 1.5%;
}
#form-register h2{
  font-size: 20px;
  margin-bottom:2.5%;
}

#form-identity{
  display:flex !important;
  width:80% !important;
  background-color:red !important;
}

#form-register input[type=text]{
  border: 2px solid #275fa0 !important;
  border-radius:0 !important;
  box-shadow: 12px 12px #275fa0 !important;
  margin-bottom: 5%;
}


#form-register input[type=email]{
  border: 2px solid #275fa0 !important;
  border-radius:0 !important;
  box-shadow: 12px 12px #275fa0 !important;
  margin-bottom: 5%;
}

#form-register input[type=password]{
  border: 2px solid #275fa0 !important;
  border-radius:0 !important;
  box-shadow: 12px 12px #275fa0 !important;
  margin-bottom: 2.5% !important;
  position: relative;
}

.input-group-prepend{
  border: 2px solid #275fa0 !important;
  border-radius:0 !important;
  box-shadow: 12px 12px #275fa0 !important;
  margin-bottom: 2.5% !important;
}

.input-group-text{
  background-color : none !important;
  border-radius:0 !important;
  padding-top : 8px !important;
  padding-bottom : 8px !important;
}


.custom-select{
  border: 2px solid #275fa0 !important;
  border-radius:0 !important;
  box-shadow: 12px 12px #275fa0 !important;
  margin-bottom: 7.5% !important;
}


.btn_submit_register{
  text-decoration:none !important;
  color: #275fa0 !important;
  margin:auto !important;
  display:flex !important;
  width : 50% !important;
  justify-content:center !important;
  line-height:40px !important;
  font-size:12px !important;
  font-weight:900 !important;
  letter-spacing:2px !important;
  text-transform:uppercase !important;
  background-color: #fff !important;
  border:5px solid #275fa0 !important;
  box-shadow:1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0,5px 5px 0 !important;
  position: relative !important;
  transition: 1.5s !important;
  margin-bottom:5% !important;
}

.btn_submit_register:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
   z-index: -1;
  background-color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.btn_submit_register:hover{
  background-color: transparent;
}

.btn_submit_register:active{
   top:5px;
   left:5px;
   box-shadow:0 0 0 0;
}

#error_password, #error_check{
  display:flex;
  margin-bottom:5%;
}

.info_connected{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  min-height: 60vh;
  font-size:20px;
  padding-left : 20px;
  padding-right : 20px;
  text-transform: uppercase;
}

.info_connected a{
  text-decoration:none !important;
  color: #275fa0 !important;
  display:flex !important;
  width : 50% !important;
  justify-content:center !important;
  line-height:40px !important;
  font-size:12px !important;
  font-weight:900 !important;
  letter-spacing:2px !important;
  text-transform:uppercase !important;
  background-color: #fff !important;
  border:5px solid #275fa0 !important;
  box-shadow:1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0,5px 5px 0 !important;
  position: relative !important;
  transition: 1.5s !important;
  margin-top: 5%;
}

.info_connected a:hover{
  border:5px solid black !important;
  color:black !important;
  transition: 0.5s;
}



/*** RESPONSIVE INSCRIPTION ***/
@media(max-width:990px){
  .form{
    width : 60% !important;
  }

  .info_connected{
    min-height: 50vh;
  }
}

@media(max-width:690px){
  .form{
    width : 80% !important;
  }
  .info_connected{
    min-height: 40vh;
    font-size : 18px;
  }
}

@media(max-width:480px){
  .form{
    width : 90% !important;
    border: 5px solid #275fa0 !important;
  }
  #form-title{
    margin-top: 2.5%;
    font-size:18px !important;
  }
  #form-register h2{
    font-size: 14px;
  }
  .btn_submit_register{
    font-size:10px !important;
    width : 90% !important;
  }
  .custom-select{
    font-size:10px !important;
  }
  #form-register input[type=text]{
    font-size:10px !important;
  }
  
  
  #form-register input[type=email]{
    font-size:10px !important;
  }
  
  #form-register input[type=password], .input-group-prepend{
    font-size:10px !important;
  }

  .info_connected{
    min-height: 40vh;
    font-size : 11px;
  }
  
  .info_connected a{
    font-size : 10px;
  }
  
}



/*** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ***/
/*----------------------------------------------------*/
/* CONNEXION
------------------------------------------------------ */

#main-connexion{
  display: flex;
  min-height:75vh;
}

.underline_wave{
  margin-top:-1.5%;
  margin-left:-5.5%;
  width:37.5%;
  height:12.5%;
  position:absolute;
}

#form_connexion{
  display:flex !important;
  flex-direction:column !important;
  border: 10px solid #275fa0;
  width:60%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


#form_connexion input[type=email]{
  border: 2px solid #275fa0 !important;
  border-radius:0 !important;
  box-shadow: 12px 12px #275fa0 !important;
  margin-bottom: 5% !important;
}

#form_connexion input[type=password], .input-group-prepend{
  border: 2px solid #275fa0 !important;
  border-radius:0 !important;
  box-shadow: 12px 12px #275fa0 !important;
  margin-bottom: 5% !important;
}

#error_email1, #error_mail, #error_password{
  display: flex;
  width: 100%;
  color : red;
  padding:2px;
}



/*** RESPONSIVE CONNEXION ***/
/*** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ***/
@media(max-width:990px){
  .underline_wave{
    display:none;
    visibility:hidden;
  }
}

@media(max-width:690px){
  #main-connexion{
    display: flex;
    min-height:60vh;
  }  
}

@media(max-width:490px){
  #main-connexion{
    display: flex;
    min-height:50vh;
  }  
}

