
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


* {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

/*----------------------------------------------------*/
/* INSCRIPTION
------------------------------------------------------ */


/*** RESPONSIVE INSCRIPTION ***/



/*** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ***/
/*----------------------------------------------------*/
/* CONNEXION
------------------------------------------------------ */



/*** RESPONSIVE CONNEXION ***/
/*** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ***/

